<form #f="ngForm">
    <div class="form-group">
      <label for="">Név</label>
      <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors['required']">Név megadása kötelező!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Cím</label>
      <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.address" type="text" class="form-control" placeholder="Cím" required>
      <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
        <div *ngIf="addressLine1.errors['required']">Cím megadása kötelező!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Város</label>
      <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
        <div *ngIf="city.errors['required']">Város megadása kötelező!</div>
      </div>
    </div>
    <button
      [class.disabled]="f.invalid"
      (click)="placeOrder()"
      class="btn btn-primary">Megrendelem</button>
  </form>
